body {
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #b2ebf2;
  text-align: center;
  line-height: 2;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 4.25rem;
  /*100% = 16px = 1em(recommended) or rem can overide parent font set size ex. 90px/16*100%=562.5    pixels wont scale to set font size from browser*/
  width: 100%;
  margin-top: 50px;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

.profdesc {
  width: 60%;
  margin: auto;
  padding-bottom: 30px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: dotted;
  height: 0;
  width: 10%;
  border-width: 20px;
  border-top: 0;
  border-color: #EAF6F6;
}

.sub-head {
  font-size: 2.2rem;
  color: #66BFBF;
  font-weight: normal;
}

.mountain {
  position: relative;
  padding-bottom: 0px;
  margin: 0;
  border: 0;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 75px;
}

.bottom-cloud {
  position: absolute;
  top: 250px;
  left: 125px;
}

.profile-pic {
  width: 30%;
  height: 20%;
  padding-bottom: 20px;
}

.middle-container {
  padding-top: 65px;
  background-color: white;
}

.skills {
  width: 50%;
  line-height: 2;
  margin: 100px auto 100px auto;
  padding-bottom: 5px;
}

.skills-heading {
  margin-bottom: 45px;
}

.skill-row1 {
  text-align: left;
  line-height: 2;
  margin-bottom: 125px;
}

.skill-row2 {
  text-align: left;
  line-height: 2;
}

.landscape-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.editing-image {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.attribute-1 {
  font-size: .5rem;
  text-align: right;
}

.bottom-container {
  padding-top: 60px;
  background-color: #66BFBF;
  padding-top: 60px;
  text-align: center;
}

.footer-link1 {
  color: #11999E;
  padding-right: 25px;
  position: relative;
  bottom: 20px;
}

.footer-link2 {
  color: #11999E;
  position: relative;
  bottom: 20px;
}
.footer-link3{
  color: #11999E;
  position: relative;
  bottom: 20px;
  padding-left: 20px;
}

.BUTTON_LUQ {
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 100;

  padding: 20px;

  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_LUQ:hover {
  background: #0CF910;
  border: solid #99C624 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
.cr{
  color: #EAF6F6;
  padding-bottom: 25px;
}
